body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#chat-container, #name-container {
  width: 400px;
  height: 600px auto;
  margin: 50px auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f9f9f9;
}

.message {
  margin: 5px 0;
}

.input-container {
  display: flex;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ddd;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #4cae4c;
}

.email-button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.email-button:hover {
  background: #0069d9;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

.leave-button, .send-button {
  padding: 8px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8%;
  cursor: pointer;
}

.leave-button {
  background: #d9534f;
  margin-left: 5px;
}

.send-button:hover {
  background: #4cae4c;
}

.leave-button:hover {
  background: #c9302c;
}

#name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#name-container input {
  width: 100%;
  max-width: 300px;
}

#emoji-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 5px;
}

.toggle-sound {
  width: 100%;
  padding: 10px;
  background: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.toggle-sound:hover {
  background: #ec971f;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  padding: 0 10px;
  text-align: center;
}

p {
  padding: 20px;
}

emoji-picker {
  margin: 0 auto;
}

a, a:visited {
  color: #4169e1;
}

@media (max-width: 767px) {
  html {
      padding-top: 50px;
  }

  h1 {
      padding: 0 50px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
      font-size: 1.125rem;
  }
}

@media screen and (max-width: 360px) {
  emoji-picker {
      --num-columns: 6;
      --emoji-padding: 0.25rem;
      --input-padding: 0.125rem;
  }
}

@media screen and (max-width: 240px) {
  emoji-picker {
      height: 80vh;
  }
}

@media (prefers-color-scheme: dark) {
  html {
      background: #222;
      color: #efefef;
  }

  a, a:visited {
      color: #7294f5;
  }
}

emoji-picker {
  display: none;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

#emoji-button {
  margin-left: 8px;
  cursor: pointer;
}

#emoji-picker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
